*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(219, 205, 205);
}

.blur{
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);           
    -webkit-backdrop-filter: blur(10px);   
}

.left-sidebar-container{
    position: fixed;
    width: 25vw;
    min-height: 100vh;
    left: 0;
    top: 0;
}

.right-sidebar-container{
    position: fixed;
    width: 25vw;
    min-height: 100vh;
    right: 0;
    top: 0;
}

.middle{
    width: 50%;
    margin: 0 auto;
    min-height: 100vh;
    position: relative;
}

.chat-header{
    width: 100%;
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.img-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.chat-img{
    position: relative;
}

.active-icon{
    position: absolute;
    right: 0;
    bottom: 20%;
}

.call-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.chat-name{
    font-size: 16px;
}

.chat-message{
    font-size: 10px;
    color: gray;
}

.ls-header{
    padding-inline: 12px;
}

.logo{
    margin-top: 12px;
    display: flex;
    gap: 6px;
}

.ls-top{
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search{
    width: 100%;
    margin-top: 12px;
    background: none;
    border: 1px solid rgba(71, 69, 69, 0.87);
    padding: 4px;
    padding-left: 32px;
    border-radius: 8px;
}

.search::placeholder{
    font-size: 12px;
    color: black;
}

.search-container{
    position: relative;
    margin-bottom: 32px;
}

.search-icon{
    position: absolute;
    left: 5%;
    top: 65%;
    margin-right: 12px;
}

.chat-sidebar{
    display: flex;
    padding: 12px;
    align-items: center;
    border-top: 1px solid gray;
}

.chat-sidebar:hover{
    background-color: rgba(0, 0, 0, 0.397);
}

.rs-header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 24px;
    border-bottom: 1px solid grey;
}

.rs-header img{
    width: 80px;
    height: 80px;
}

.rs-header i{
    bottom: 10%;
    right: 15%;
}

.rs-header-text{
    text-align: center;
    font-size: 24px;
}

.rs-content{
    padding: 24px;
    display: flex;
    justify-content: center;
    gap: 6px;
    flex-direction: column;
}

.dropdowns{
    display: flex;
    justify-content: space-between;
    padding: 6px;
    margin-bottom: 12px;
}

.dropdowns-name{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.dp-text{
    font-size: 18px;
}

.center-bottom{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 1000;
    margin-bottom: 12px;
}

.input-container{
    position: relative;
    width: 30%;
}

.a {
  position: absolute;
  left: 10px;
  top: 65%;
    font-size: 1rem;
  transform: translateY(-50%);
  color: #666;
  pointer-events: none;
}

.thumbs-up {
  position: absolute;
  right: 10px;
  top: 60%;
  transform: translateY(-50%);
  color: #888;
  cursor: pointer;
}

.input{
    width: 100%;
    margin-top: 12px;
    background: none;
    border: 1px solid rgba(71, 69, 69, 0.87);
    padding: 8px;
    padding-left: 32px;
    border-radius: 8px;
    color: white;
}